*{
    /* background-color: #f9cfcf; */
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
body{
  background-color: green;

}

.flex-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-wrap:wrap; */
  width: 100%;
  /* justify-content: space-between; */
}



  .card {
    margin: 10px;
    width: 280px; /* Adjust the card width as desired */
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    /* padding-bottom: 5px; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.3); /* Adjust the scale factor to control the level of zoom on hover */
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    /* padding: 16px; */
    padding: 10px;
    background-color: #D7B9DC;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

  

  }
  
  .product-name {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .product-price {
    /* margin: 10px 0 0; */
    font-size: 14px;
    color: #888;
    text-align: center;
  }

 .buy-btn{
    background-color: #e294a1;
  padding: 6px 18px;
  border: none;
 }
  
  
