*{
  
  background-color: rgb(230, 192, 211);
}
.card-container{
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 280px; /* Adjust the card width as desired */
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.3); /* Adjust the scale factor to control the level of zoom on hover */
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 16px;
}

.product-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  margin: 10px 0 0;
  font-size: 14px;
  color: #888;
}

.card h2{
  margin-top: 30px;
}
.card-container{
  display: flex;
  justify-content: space-between;
}
.card {
  width: 280px; /* Adjust the card width as desired */
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.2); /* Adjust the scale factor to control the level of zoom on hover */
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 16px;
}

.product-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  margin: 10px 0 0;
  font-size: 14px;
  color: #888;
}

.card h2{
  margin-top: 30px;
}
